body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 50px;
    padding: 0;
    background-color: #f8f8f8;
}
h1 {
    text-align: center;
    margin-top: 60px;
    font-family: cursive;
}       
input[type="text"] {
    padding: 8px;
    width: 60%;
    border: 1px solid #03BB85;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 40px;
    font-family:cursive;
}
button {
    padding: 8px 15px;
    background-color: #03BB85;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
ul {
    list-style-type:none;
    padding: 0;

}
li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 8px;
    background-color: rgba(138, 240, 206, 0.479);
    border: 1px solid #03BB85;
    border-radius: 5px;
}
.completed {
    text-decoration: line-through;
    color: #888;
}
button.delete {
    margin-left: auto;
    background-color: #ff6a79;
    color: #f8f8f8;
}
